In [19]:
import pandas as pd
import numpy as np
from datetime import datetime
import requests
import json
import warnings

from sys import platform

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    # path = '~/Documents/GitHub/f1-analytics/'
    path = '/Users/oliverjcarter/Documents/GitHub/f1-analytics/'

warnings.filterwarnings("ignore", category=RuntimeWarning) 
pd.options.mode.chained_assignment = None  # default='warn'

%matplotlib inline

In [55]:
races = pd.read_csv(path+'data/races.csv')

rounds = []
for year in np.array(races.season.unique()):
    rounds.append([year, list(races[races.season == year]['round'])])

In [4]:
# query results API

for i in rounds:

    url = 'http://ergast.com/api/f1/{}/{}/results.json'
    r = requests.get(url.format(2021, i))
    json = r.json()

    for item in json['MRData']['RaceTable']['Races'][0]['Results']:
        for n in item:
            pass
            # print(f'{n} : {item[n]}')
        break
    break

In [90]:
laps = {
    'season': [],
    'round': [],
    'lap': [],
    'driver': [],
    'position': [],
    'time': []
}

In [93]:
# query results API

for n in list(range(len(rounds))):
    for i in rounds[n][1]:
        url = 'http://ergast.com/api/f1/{}/{}/laps.json'
        r = requests.get(url.format(rounds[n][0], i))
        json = r.json()

        for item in json['MRData']['RaceTable']['Races']:
            for lap in item['Laps']:
                print(lap)
                # print(lap['number'])
                # for driver in lap['Timings']:
                #     laps['season'].append(item['season'])
                #     laps['round'].append(item['round'])
                #     laps['lap'].append(lap['number'])
                #     laps['driver'].append(driver['driverId'])
                #     laps['position'].append(driver['position'])
                #     laps['time'].append(driver['time'])


        break
    break
            # for driver in item['Laps'][0]['Timings']:
            #     laps['season'].append(item['season'])
            #     laps['round'].append(item['round'])
            #     laps['lap'].append(item['Laps'][0]['number'])
            #     laps['driver'].append(driver['driverId'])
            #     laps['position'].append(driver['position'])
            #     laps['time'].append(driver['time'])
            

laps = pd.DataFrame(laps)
laps.head()

{'number': '1', 'Timings': [{'driverId': 'rosberg', 'position': '1', 'time': '1:42.038'}, {'driverId': 'ricciardo', 'position': '2', 'time': '1:43.549'}, {'driverId': 'kevin_magnussen', 'position': '3', 'time': '1:45.402'}, {'driverId': 'hamilton', 'position': '4', 'time': '1:46.128'}, {'driverId': 'hulkenberg', 'position': '5', 'time': '1:46.986'}, {'driverId': 'alonso', 'position': '6', 'time': '1:48.266'}, {'driverId': 'vergne', 'position': '7', 'time': '1:48.805'}, {'driverId': 'raikkonen', 'position': '8', 'time': '1:49.387'}, {'driverId': 'kvyat', 'position': '9', 'time': '1:49.503'}, {'driverId': 'bottas', 'position': '10', 'time': '1:49.766'}, {'driverId': 'button', 'position': '11', 'time': '1:50.328'}, {'driverId': 'sutil', 'position': '12', 'time': '1:53.369'}, {'driverId': 'ericsson', 'position': '13', 'time': '1:55.013'}, {'driverId': 'maldonado', 'position': '14', 'time': '1:56.505'}, {'driverId': 'vettel', 'position': '15', 'time': '2:00.977'}, {'driverId': 'chilton', 'position': '16', 'time': '2:05.520'}, {'driverId': 'grosjean', 'position': '17', 'time': '2:10.795'}, {'driverId': 'perez', 'position': '18', 'time': '2:36.707'}, {'driverId': 'gutierrez', 'position': '19', 'time': '2:41.894'}, {'driverId': 'jules_bianchi', 'position': '20', 'time': '14:01.218'}]}
{'number': '2', 'Timings': [{'driverId': 'rosberg', 'position': '1', 'time': '1:37.687'}, {'driverId': 'ricciardo', 'position': '2', 'time': '1:37.459'}, {'driverId': 'kevin_magnussen', 'position': '3', 'time': '1:37.435'}, {'driverId': 'hulkenberg', 'position': '4', 'time': '1:38.359'}, {'driverId': 'hamilton', 'position': '5', 'time': '1:40.287'}, {'driverId': 'alonso', 'position': '6', 'time': '1:38.611'}, {'driverId': 'vergne', 'position': '7', 'time': '1:38.579'}, {'driverId': 'raikkonen', 'position': '8', 'time': '1:38.630'}, {'driverId': 'kvyat', 'position': '9', 'time': '1:38.797'}, {'driverId': 'bottas', 'position': '10', 'time': '1:38.737'}]}

  season round lap           driver position      time
0   2014     1   1          rosberg        1  1:42.038
1   2014     1   1        ricciardo        2  1:43.549
2   2014     1   1  kevin_magnussen        3  1:45.402
3   2014     1   1         hamilton        4  1:46.128
4   2014     1   1       hulkenberg        5  1:46.986

In [85]:
laps.tail()

   season round lap     driver position      time
25   2014     1   2     alonso        6  1:38.611
26   2014     1   2     vergne        7  1:38.579
27   2014     1   2  raikkonen        8  1:38.630
28   2014     1   2      kvyat        9  1:38.797
29   2014     1   2     bottas       10  1:38.737

In [155]:
qual = {
    'season': [],
    'round': [],
    'position': [],
    'circuit_id':[],
    'driver': [],
    'q1': [],
    'q2': [],
    'q3': []
}

In [156]:
# query results API

for i in rounds:
    url = 'http://ergast.com/api/f1/{}/{}/qualifying.json'
    r = requests.get(url.format(2021, i))
    json = r.json()

    for item in json['MRData']['RaceTable']['Races']:
        for n in item['QualifyingResults']:
            qual['season'].append(2021)
            qual['round'].append(i)
            qual['position'].append(n['position'])
            qual['driver'].append(n['Driver']['driverId'])
            qual['circuit_id'].append(item['Circuit']['circuitId'])

            try:
                qual['q3'].append(n['Q3'])
            except:
                qual['q3'].append('OUT')

            try:
                qual['q2'].append(n['Q2'])
            except:
                qual['q2'].append('OUT')

            try:
                qual['q1'].append(n['Q1'])
            except:
                qual['q1'].append('DNF')

pd.DataFrame(qual)

,season,round,position,circuit_id,driver,q1,q2,q3
0,2021,1,1,bahrain,max_verstappen,1:30.499,1:30.318,1:28.997
1,2021,1,2,bahrain,hamilton,1:30.617,1:30.085,1:29.385
2,2021,1,3,bahrain,bottas,1:31.200,1:30.186,1:29.586
3,2021,1,4,bahrain,leclerc,1:30.691,1:30.010,1:29.678
4,2021,1,5,bahrain,gasly,1:30.848,1:30.513,1:29.809
...,...,...,...,...,...,...,...,...
434,2021,22,16,yas_marina,latifi,1:24.338,OUT,OUT
435,2021,22,17,yas_marina,russell,1:24.423,OUT,OUT
436,2021,22,18,yas_marina,raikkonen,1:24.779,OUT,OUT
437,2021,22,19,yas_marina,mick_schumacher,1:24.906,OUT,OUT
438,2021,22,20,yas_marina,mazepin,1:25.685,OUT,OUT

In [ ]:
# query API

for i in rounds:

    url = 'http://ergast.com/api/f1/{}/{}/constructorStandings.json'
    r = requests.get(url.format(2021, i))
    json = r.json()

    for item in json['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']:
        for n in item:
            print(f'{n} : {item[n]}')
        break

In [ ]:
# query API

for i in rounds:

    url = 'http://ergast.com/api/f1/{}/{}/driverStandings.json'
    r = requests.get(url.format(2021, i))
    json = r.json()

    for item in json['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']:
        for n in item:
            print(f'{n} : {item[n]}')
        break

In [ ]:
# query API

schedules = {
        'season': [],
        'round': [],
        'circuit_id': [],
        'date': []
        }

for i in rounds:

    url = 'http://ergast.com/api/f1/{}.json'
    r = requests.get(url.format(2021))
    json = r.json()

    for item in json['MRData']['RaceTable']['Races']:
        schedules['season'].append(int(item['season']))
        schedules['round'].append(int(item['round']))
        schedules['circuit_id'].append(item['Circuit']['circuitId'])
        schedules['date'].append(datetime.strptime(item['date']+ 'T' +item['time'], '%Y-%m-%dT%H:%M:%SZ'))

schedules = pd.DataFrame(schedules)
schedules.head()