In [251]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, Hourly
import requests
import warnings

from sys import platform

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    path = '/Users/oliverjcarter/Documents/GitHub/f1-analytics/'

warnings.filterwarnings("ignore", category=RuntimeWarning) 
pd.options.mode.chained_assignment = None  # default='warn'

%matplotlib inline

In [252]:
races = pd.read_csv(path+'data/races.csv')
results = pd.read_csv(path+'data/results.csv')

weather = races.iloc[:,[0,1,2,3,4,5,7]]
# weather = weather.query('season == 2021')
weather.shape

(160, 7)

In [253]:
def format_datetime(dt):
    year, time = dt.split(' ')

    return datetime(*map(int, year.split('-')), *map(int, time.split(':')))

In [254]:
weather.date = weather.date.apply(lambda x: format_datetime(x))

In [255]:
def get_hourly_weather(dt, lat, long):
    start = dt
    end = dt + pd.Timedelta(hours=3)
    coord = Point(lat, long)

    data = Hourly(coord, start, end).fetch()
    try:
        return data.coco.mode().values[0]
    except:
        return None

def get_daily_weather(dt, lat, long):
    start = dt
    end = dt
    coord = Point(lat, long)

    data = Daily(coord, start, end).fetch()

    return data.coco.mode.values

In [256]:
years =  list(range(2014, 2022))

rounds = []
for year in np.array(races.season.unique()):
            rounds.append([year, list(races[races.season == year]['round'])])

In [258]:
weather_conditions = {
        'season': [],
        'round': [],
        'circuit_id': [],
        'coco': [],
        'temp': [],
        'rhum': [],
        'prcp': []
    }
for n in list(range(len(rounds))):
    for i in rounds[n][1]:
        pass


weather_conditions = pd.DataFrame(weather_conditions)
weather_conditions.head()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

Empty DataFrame
Columns: [season, round, circuit_id, coco, temp, rhum, prcp]
Index: []

In [249]:
weather['code'] = weather.apply(lambda x: get_hourly_weather(x['date'], x['lat'], x['long']),axis=1)

In [250]:
weather.head()

,season,round,circuit_id,country,lat,long,date,code
138,2021,1,bahrain,Bahrain,26.0325,50.51060,2021-03-28 15:00:00,1.0
139,2021,2,imola,Italy,44.3439,11.71670,2021-04-18 13:00:00,3.0
140,2021,3,portimao,Portugal,37.2270,-8.62670,2021-05-02 14:00:00,NaN
141,2021,4,catalunya,Spain,41.5700,2.26111,2021-05-09 13:00:00,NaN
142,2021,5,monaco,Monaco,43.7347,7.42056,2021-05-23 13:00:00,4.0

In [ ]:
def format_coco(coco):
    codes = {
        1.0 :'Clear',
        2.0 : 'Fair',
        3.0 : 'Cloudy',
        4.0 : 'Overcast',
        5.0 : 'Fog',
        6.0 : 'Freezing Fog',
        7.0 : 'Light Rain',
        8.0 : 'Rain',
        9.0 : 'Heavy Rain',
        10.0 : 'Freezing Rain',
        11.0 : 'Heavy Freezing Rain',
        12.0 : 'Sleet',
        13.0 : 'Heavy Sleet',
        14.0 : 'Light Snowfall',
        15.0 : 'Snowfall',
        16.0 : 'Heavy Snowfall',
        17.0 : 'Rain Shower',
        18.0 : 'Heavy Rain Shower',
        19.0 : 'Sleet Shower',
        20.0 : 'Heavy Sleet Shower',
        21.0 : 'Snow Shower',
        22.0 : 'Heavy Snow Shower',
        23.0 : 'Lightning',
        24.0 : 'Hail',
        25.0 : 'Thunderstorm',
        26.0 : 'Heavy Thunderstorm',
        27.0 : 'Storm',
    }
    return codes[coco]

In [221]:
# start = datetime.strptime(race.date, '%Y-%m-%d')
# end = datetime.strptime(race.date, '%Y-%m-%d')
start = datetime(2021, 6, 27)
end = datetime(2021, 6, 27,23)
coord = Point(47.2197, 14.7647)

data = Hourly(coord, start, end).fetch()

data
# weather = data.groupby('coco').rhum.describe().reset_index()
# weather['coco'] = weather.coco.apply(lambda x: format_coco(x))

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-06-27 00:00:00,17.0,12.9,77.0,NaN,NaN,280.0,16.6,9.3,1018.7,NaN,2.0
2021-06-27 01:00:00,15.0,12.3,84.0,NaN,NaN,308.0,3.7,9.3,1019.0,NaN,2.0
2021-06-27 02:00:00,14.0,12.0,88.0,NaN,NaN,298.0,4.0,9.3,1019.0,NaN,2.0
2021-06-27 03:00:00,14.0,12.0,88.0,NaN,NaN,289.0,3.6,9.3,1020.0,NaN,2.0
2021-06-27 04:00:00,14.0,12.0,88.0,NaN,NaN,327.0,3.6,9.3,1020.0,NaN,2.0
2021-06-27 05:00:00,14.0,12.0,88.0,NaN,NaN,358.0,3.6,9.3,1020.0,NaN,2.0
2021-06-27 06:00:00,15.5,12.3,81.0,NaN,NaN,360.0,3.6,9.3,1019.3,NaN,2.0
2021-06-27 07:00:00,17.0,11.9,72.0,NaN,NaN,80.0,3.6,11.1,1019.0,NaN,2.0
2021-06-27 08:00:00,19.0,14.1,73.0,NaN,NaN,80.0,3.6,11.1,1018.0,NaN,2.0
2021-06-27 09:00:00,20.6,14.0,66.0,NaN,NaN,80.0,7.2,14.8,1016.7,NaN,2.0
2021-06-27 10:00:00,23.0,12.9,53.0,NaN,NaN,330.0,3.6,13.0,1018.0,NaN,2.0
2021-06-27 11:00:00,24.0,12.9,50.0,NaN,NaN,230.0,5.4,14.8,1017.0,NaN,2.0
2021-06-27 12:00:00,25.0,12.9,47.0,NaN,NaN,230.0,9.4,16.7,1017.0,NaN,2.0
2021-06-27 13:00:00,26.0,11.0,39.0,NaN,NaN,260.0,9.4,16.7,1017.0,NaN,2.0
2021-06-27 14:00:00,27.0,11.1,37.0,NaN,NaN,130.0,7.6,20.4,1016.0,NaN,2.0
2021-06-27 15:00:00,26.0,14.1,48.0,NaN,NaN,130.0,7.6,20.4,1016.0,NaN,2.0
2021-06-27 16:00:00,25.0,14.2,51.0,NaN,NaN,111.0,7.4,24.1,1013.8,NaN,2.0
2021-06-27 17:00:00,25.0,15.9,57.0,NaN,NaN,50.0,6.0,18.5,1016.0,NaN,2.0
2021-06-27 18:00:00,25.0,15.9,57.0,NaN,NaN,20.0,3.6,20.4,1017.0,NaN,3.0
2021-06-27 19:00:00,22.0,16.1,69.0,NaN,NaN,98.0,1.8,18.5,1018.0,NaN,3.0
2021-06-27 20:00:00,22.0,15.1,65.0,NaN,NaN,0.0,0.0,14.8,1018.0,NaN,3.0
2021-06-27 21:00:00,20.0,15.0,73.0,NaN,NaN,231.0,5.4,13.0,1017.8,NaN,2.0
2021-06-27 22:00:00,18.5,14.8,79.0,NaN,NaN,312.0,5.5,13.0,1017.3,NaN,2.0
2021-06-27 23:00:00,18.0,15.1,83.0,NaN,NaN,70.0,6.0,11.1,1018.0,NaN,2.0