In [9]:
import pandas as pd
import numpy as np
import datetime as dt
import requests

from sys import platform

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    path = '/Users/oliverjcarter/Documents/GitHub/f1-analytics/'

In [21]:
races = pd.read_csv(path+'data/races.csv')

weather = races.iloc[:,[0,1,2,3,4,5,6]]
weather.head()

   season  round   circuit_id    country       lat       long        date
0    2014      1  albert_park  Australia -37.84970  144.96800  2014-03-16
1    2014      2       sepang   Malaysia   2.76083  101.73800  2014-03-30
2    2014      3      bahrain    Bahrain  26.03250   50.51060  2014-04-06
3    2014      4     shanghai      China  31.33890  121.22000  2014-04-20
4    2014      5    catalunya      Spain  41.57000    2.26111  2014-05-11

In [11]:
base = 'http://api.openweathermap.org/data/2.5/weather?'
api_key = open(path+'api_key.txt', 'r').read()
city = 'Cardiff'

url =  base + 'appid=' + api_key + '&q=' + city
response = requests.get(url)
print(response)

<Response [200]>