In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from datetime import datetime

from sys import platform

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    path = '~/Documents/GitHub/f1-analytics/'

In [2]:
races = pd.read_csv(path+'data/races.csv')
qualifying = pd.read_csv(path+'data/qualifying.csv')
constructors = pd.read_csv(path+'data/constructor_standings.csv')
drivers = pd.read_csv(path+'data/driver_standings.csv')
results = pd.read_csv(path+'data/results.csv')

### Redundant until new weather collection method is implemented
# weather = pd.read_csv(path+'data/weather.csv')

In [3]:
df1 = pd.merge(races, results, how='inner', on=['season', 'round', 'circuit_id']).drop(['url','points', 'status', 'time'], axis = 1)
df2 = pd.merge(df1, drivers, how='left', on=['season', 'round', 'driver']) 
df3 = pd.merge(df2, constructors, how='left', on=['season', 'round', 'constructor'])

merged_df = pd.merge(df3, qualifying, how='inner', on=['season', 'round', 'grid']).drop(['driver_y', 'constructor_y'], axis=1)

merged_df.rename(columns={'driver_x': 'driver', 'constructor_x': 'constructor'}, inplace=True)

In [4]:
merged_df

,season,round,circuit_id,country,lat,long,date,driver,date_of_birth,nationality,...,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,pos,final_time,q_delta,q1,q2,q3
0,2014,1,albert_park,Australia,-37.8497,144.9680,2014-03-16,rosberg,1985-06-27,German,...,1,25.0,1,2,3,104.595,0.364,92.564,102.264,104.595
1,2014,1,albert_park,Australia,-37.8497,144.9680,2014-03-16,kevin_magnussen,1992-10-05,Danish,...,2,33.0,0,1,4,105.745,1.514,90.949,103.247,105.745
2,2014,1,albert_park,Australia,-37.8497,144.9680,2014-03-16,button,1980-01-19,British,...,3,33.0,0,1,11,104.437,0.206,91.396,104.437,NaN
3,2014,1,albert_park,Australia,-37.8497,144.9680,2014-03-16,alonso,1981-07-29,Spanish,...,4,18.0,0,3,5,105.819,1.588,91.388,102.805,105.819
4,2014,1,albert_park,Australia,-37.8497,144.9680,2014-03-16,bottas,1989-08-28,Finnish,...,5,10.0,0,4,10,108.147,3.916,91.601,103.852,108.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,2021,22,yas_marina,UAE,24.4672,54.6031,2021-12-12,perez,1990-01-26,Mexican,...,4,585.5,11,2,4,82.947,0.838,83.35,83.135,82.947
3187,2021,22,yas_marina,UAE,24.4672,54.6031,2021-12-12,latifi,1995-06-29,Canadian,...,17,23.0,0,8,16,84.338,2.229,84.338,NaN,NaN
3188,2021,22,yas_marina,UAE,24.4672,54.6031,2021-12-12,giovinazzi,1993-12-14,Italian,...,18,13.0,0,9,14,84.251,2.142,84.118,84.251,NaN
3189,2021,22,yas_marina,UAE,24.4672,54.6031,2021-12-12,russell,1998-02-15,British,...,15,23.0,0,8,17,84.423,2.314,84.423,NaN,NaN
3190,2021,22,yas_marina,UAE,24.4672,54.6031,2021-12-12,raikkonen,1979-10-17,Finnish,...,16,13.0,0,9,18,84.779,2.670,84.779,NaN,NaN

In [5]:
# fill/drop nulls

for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins' , 'constructor_standings_pos']:
    merged_df[col].fillna(0, inplace=True)
    merged_df[col] = merged_df[col].map(lambda x: int(x))
    
merged_df.dropna(inplace = True )

In [6]:
merged_df.head()

,season,round,circuit_id,country,lat,long,date,driver,date_of_birth,nationality,...,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,pos,final_time,q_delta,q1,q2,q3
0,2014,1,albert_park,Australia,-37.8497,144.968,2014-03-16,rosberg,1985-06-27,German,...,1,25,1,2,3,104.595,0.364,92.564,102.264,104.595
1,2014,1,albert_park,Australia,-37.8497,144.968,2014-03-16,kevin_magnussen,1992-10-05,Danish,...,2,33,0,1,4,105.745,1.514,90.949,103.247,105.745
3,2014,1,albert_park,Australia,-37.8497,144.968,2014-03-16,alonso,1981-07-29,Spanish,...,4,18,0,3,5,105.819,1.588,91.388,102.805,105.819
4,2014,1,albert_park,Australia,-37.8497,144.968,2014-03-16,bottas,1989-08-28,Finnish,...,5,10,0,4,10,108.147,3.916,91.601,103.852,108.147
5,2014,1,albert_park,Australia,-37.8497,144.968,2014-03-16,hulkenberg,1987-08-19,German,...,6,9,0,5,7,106.030,1.799,93.893,103.658,106.03

In [7]:
merged_df.to_csv(path+'data/merged.csv', index=False)