In [1]:
import pandas as pd

from sys import platform

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    path = '~/Documents/GitHub/f1-analytics/'
    # path = '/Users/oliverjcarter/Documents/GitHub/f1-analytics/'

In [18]:
races = pd.read_csv(path+'data/races.csv')
qualifying = pd.read_csv(path+'data/qualifying.csv')
constructors = pd.read_csv(path+'data/constructor_standings.csv')
drivers = pd.read_csv(path+'data/driver_standings.csv')
results = pd.read_csv(path+'data/results.csv')

### Redundant until new weather collection method is implemented
# weather = pd.read_csv(path+'data/weather.csv')

In [2]:
laps1 = pd.read_csv(path+'data/laps-2014-2017.csv')
laps2 = pd.read_csv(path+'data/laps-2017-22.csv')

In [8]:
laps = pd.merge(laps1, laps2, how='left', on=['season', 'round', 'driver', 'position', 'lap', 'time'])

   season  round  lap           driver  position      time
0    2014      1    1          rosberg         1  1:42.038
1    2014      1    1        ricciardo         2  1:43.549
2    2014      1    1  kevin_magnussen         3  1:45.402
3    2014      1    1         hamilton         4  1:46.128
4    2014      1    1       hulkenberg         5  1:46.986

In [11]:
duplicates = laps[laps.duplicated()]

Empty DataFrame
Columns: [season, round, lap, driver, position, time]
Index: []

In [ ]:
laps.to_csv(path+'data/laps.csv', index=False)

In [28]:
results.query('grid == 0')

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,fastest_lap
424,2015,1,albert_park,bottas,1989-08-28,Finnish,williams,0,NaN,Withdrew,0.0,18,NaN
444,2015,2,sepang,stevens,1991-06-28,British,manor,0,NaN,Fuel system,0.0,20,NaN
514,2015,6,monaco,sainz,1994-09-01,Spanish,toro_rosso,0,6583476.0,Finished,1.0,10,1:19.816
911,2016,6,monaco,nasr,1992-08-21,Brazilian,sauber,0,NaN,Retired,0.0,17,1:21.889
912,2016,6,monaco,max_verstappen,1997-09-30,Dutch,red_bull,0,NaN,Accident,0.0,18,1:26.563
980,2016,9,red_bull_ring,massa,1981-04-25,Brazilian,williams,0,NaN,Brakes,0.0,20,1:09.899
982,2016,9,red_bull_ring,kvyat,1994-04-26,Russian,toro_rosso,0,NaN,Retired,0.0,22,1:18.302
1263,2017,1,albert_park,ricciardo,1989-07-01,Australian,red_bull,0,NaN,Power Unit,0.0,17,1:29.447
1546,2017,15,sepang,raikkonen,1979-10-17,Finnish,ferrari,0,NaN,Battery,0.0,20,NaN
1846,2018,10,silverstone,brendon_hartley,1989-11-10,New Zealander,toro_rosso,0,NaN,Power Unit,0.0,20,NaN
2116,2019,3,shanghai,albon,1996-03-23,Thai,toro_rosso,0,NaN,+1 Lap,1.0,10,1:38.901
2136,2019,4,baku,raikkonen,1979-10-17,Finnish,alfa,0,NaN,+1 Lap,1.0,10,1:46.479
2142,2019,4,baku,kubica,1984-12-07,Polish,williams,0,NaN,+2 Laps,0.0,16,1:47.709
2143,2019,4,baku,gasly,1996-02-07,French,red_bull,0,NaN,Transmission,0.0,17,1:45.712
2159,2019,5,catalunya,hulkenberg,1987-08-19,German,renault,0,5789684.0,Finished,0.0,13,1:21.282
2203,2019,7,villeneuve,kevin_magnussen,1992-10-05,Danish,haas,0,NaN,+2 Laps,0.0,17,1:17.309
2244,2019,9,red_bull_ring,russell,1998-02-15,British,williams,0,NaN,+2 Laps,0.0,18,1:09.926
2323,2019,13,spa,kubica,1984-12-07,Polish,williams,0,NaN,+1 Lap,0.0,17,1:49.220
2341,2019,14,monza,raikkonen,1979-10-17,Finnish,alfa,0,NaN,+1 Lap,0.0,15,1:24.419
2371,2019,16,sochi,albon,1996-03-23,Thai,red_bull,0,5657340.0,Finished,10.0,5,1:36.762
2403,2019,17,suzuka,kubica,1984-12-07,Polish,williams,0,NaN,+2 Laps,0.0,17,1:36.332
2436,2019,19,americas,perez,1990-01-26,Mexican,racing_point,0,NaN,+1 Lap,1.0,10,1:40.165
2519,2020,2,red_bull_ring,grosjean,1986-04-17,French,haas,0,NaN,+1 Lap,0.0,13,1:08.047
2536,2020,3,hungaroring,kevin_magnussen,1992-10-05,Danish,haas,0,NaN,+1 Lap,1.0,10,1:19.457
2542,2020,3,hungaroring,grosjean,1986-04-17,French,haas,0,NaN,+1 Lap,0.0,16,1:20.232
2762,2020,14,istanbul,russell,1998-02-15,British,williams,0,NaN,+1 Lap,0.0,16,1:40.814
2765,2020,14,istanbul,latifi,1995-06-29,Canadian,williams,0,NaN,Collision damage,0.0,19,1:43.495
2831,2021,1,bahrain,perez,1990-01-26,Mexican,red_bull,0,5575944.0,Finished,10.0,5,1:33.970
2861,2021,2,imola,vettel,1987-07-03,German,aston_martin,0,NaN,Gearbox,0.0,15,1:19.074
2959,2021,7,ricard,tsunoda,2000-05-11,Japanese,alphatauri,0,NaN,+1 Lap,0.0,13,1:38.980
3022,2021,10,silverstone,perez,1990-01-26,Mexican,red_bull,0,NaN,+1 Lap,0.0,16,1:28.617
3039,2021,11,hungaroring,giovinazzi,1993-12-14,Italian,alfa,0,NaN,+1 Lap,0.0,13,1:22.736
3064,2021,12,spa,raikkonen,1979-10-17,Finnish,alfa,0,243125.0,Finished,0.0,18,NaN
3065,2021,12,spa,perez,1990-01-26,Mexican,red_bull,0,245276.0,Finished,0.0,19,NaN
3074,2021,13,zandvoort,perez,1990-01-26,Mexican,red_bull,0,NaN,+1 Lap,4.0,8,1:13.461
3082,2021,13,zandvoort,latifi,1995-06-29,Canadian,williams,0,NaN,+2 Laps,0.0,16,1:15.790
3105,2021,14,monza,gasly,1996-02-07,French,alphatauri,0,NaN,Suspension,0.0,19,1:29.005
3106,2021,14,monza,tsunoda,2000-05-11,Japanese,alphatauri,0,NaN,Brakes,0.0,20,NaN
3198,2021,19,interlagos,raikkonen,1979-10-17,Finnish,alfa,0,NaN,+1 Lap,0.0,12,1:12.621
3306,2022,2,jeddah,mick_schumacher,1999-03-22,German,haas,0,NaN,Withdrew,0.0,20,NaN
3341,2022,4,imola,zhou,1999-05-30,Chinese,alfa,0,NaN,+1 Lap,0.0,15,1:21.286
3356,2022,5,miami,stroll,1998-10-29,Canadian,aston_martin,0,5701284.0,Finished,1.0,10,1:33.312
3363,2022,5,miami,vettel,1987-07-03,German,aston_martin,0,NaN,Collision,0.0,17,1:33.479
3477,2022,11,red_bull_ring,bottas,1989-08-28,Finnish,alfa,0,NaN,+1 Lap,0.0,11,1:09.266
3518,2022,13,hungaroring,gasly,1996-02-07,French,alphatauri,0,NaN,+1 Lap,0.0,12,1:23.199
3535,2022,14,spa,gasly,1996-02-07,French,alphatauri,0,5245075.0,Finished,2.0,9,1:53.002
3539,2022,14,spa,tsunoda,2000-05-11,Japanese,alphatauri,0,5258111.0,Finished,0.0,13,1:52.436
3600,2022,17,marina_bay,russell,1998-02-15,British,mercedes,0,NaN,+2 Laps,0.0,14,1:46.458
3637,2022,19,americas,ocon,1996-09-17,French,alpine,0,6204562.0,Finished,0.0,11,1:42.394
3683,2022,21,interlagos,tsunoda,2000-05-11,Japanese,alphatauri,0,NaN,+1 Lap,0.0,17,1:15.508

In [19]:
def lookup (df, team, points):
    df['lookup1'] = df.season.astype(str) + df[team] + df['round'].astype(str)
    df['lookup2'] = df.season.astype(str) + df[team] + (df['round']-1).astype(str)
    new_df = df.merge(df[['lookup1', points]], how = 'left', left_on='lookup2',right_on='lookup1')
    new_df.drop(['lookup1_x', 'lookup2', 'lookup1_y'], axis = 1, inplace = True)
    new_df.rename(columns = {points+'_x': points+'_after_race', points+'_y': points}, inplace = True)
    new_df[points].fillna(0, inplace = True)
    return new_df

In [20]:
drivers = lookup(drivers, 'driver', 'driver_points')
drivers = lookup(drivers, 'driver', 'driver_wins')
drivers = lookup(drivers, 'driver', 'driver_standings_pos')

drivers.drop(['driver_points_after_race', 'driver_wins_after_race', 'driver_standings_pos_after_race'], axis=1, inplace=True)

In [21]:
constructors = lookup(constructors, 'constructor', 'constructor_points')
constructors = lookup(constructors, 'constructor', 'constructor_wins')
constructors = lookup(constructors, 'constructor', 'constructor_standings_pos')

constructors.drop(['constructor_points_after_race', 'constructor_wins_after_race', 'constructor_standings_pos_after_race'], axis=1, inplace=True)

In [22]:
df1 = pd.merge(races, results, how='inner', on=['season', 'round', 'circuit_id']).drop(['url','points', 'status', 'time'], axis = 1)
df2 = pd.merge(df1, drivers, how='left', on=['season', 'round', 'driver']) 
df3 = pd.merge(df2, constructors, how='left', on=['season', 'round', 'constructor'])

merged_df = pd.merge(df3, qualifying, how='inner', on=['season', 'round', 'circuit_id', 'driver']).drop('position', axis=1)

merged_df.shape

(3671, 23)

In [23]:
merged_df.columns

Index(['season', 'round', 'circuit_id', 'country', 'lat', 'long', 'date',
       'driver', 'date_of_birth', 'nationality', 'constructor', 'grid',
       'podium', 'fastest_lap', 'driver_points', 'driver_wins',
       'driver_standings_pos', 'constructor_points', 'constructor_wins',
       'constructor_standings_pos', 'fastest_time', 'stage', 'q_delta'],
      dtype='object')

In [24]:
merged_df.isna().any()

season                       False
round                        False
circuit_id                   False
country                      False
lat                          False
long                         False
date                         False
driver                       False
date_of_birth                False
nationality                  False
constructor                  False
grid                         False
podium                       False
fastest_lap                   True
driver_points                False
driver_wins                  False
driver_standings_pos         False
constructor_points           False
constructor_wins             False
constructor_standings_pos    False
fastest_time                  True
stage                         True
q_delta                      False
dtype: bool

In [25]:
# fill/drop nulls
### Data is being lossed here

for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins', 'constructor_standings_pos']:
    merged_df[col].fillna(0, inplace=True)
    merged_df[col] = merged_df[col].map(lambda x: int(x))
    
merged_df.dropna(inplace=True)

merged_df.shape

(3462, 23)

In [26]:
from dateutil.relativedelta import *

merged_df['date_of_birth'] = pd.to_datetime(merged_df.date_of_birth)
merged_df['driver_age'] = merged_df.apply(lambda x: relativedelta(pd.to_datetime(x['date']), x['date_of_birth']).years, axis=1)
merged_df.drop(['date_of_birth'], axis=1, inplace = True)

In [27]:
merged_df.to_csv(path+'data/merged.csv', index=False)