In [18]:
%pylab inline
import pandas as pd
from sys import platform
import matplotlib.pyplot as plt
import numpy as np
from geopy.geocoders import Nominatim

if platform == "win32":
    path = 'C:/Users/olive/GitHub/f1-analytics/'
elif platform == "darwin":
    path = '~/Documents/GitHub/f1-analytics/'

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [19]:
### Load race and mereged DataFrames

data = pd.read_csv(path + 'data/processed.csv')

In [20]:
data.columns

Index(['season', 'round', 'circuit_id', 'driver', 'constructor', 'podium',
       'driver_points_after_race', 'driver_points', 'driver_wins',
       'driver_standings_pos', 'constructor_points_after_race',
       'constructor_points', 'constructor_wins', 'constructor_standings_pos',
       'qualifying_pos', 'qual_time', 'stage', 'q_delta', 'starting_grid',
       'driver_points_per_race', 'driver_points_from_race',
       'constructor_points_per_race', 'constructor_points_from_race',
       'driver_points_last_3_races', 'driver_points_before_race'],
      dtype='object')

In [21]:
df = data[['season', 'round', 'circuit_id', 'driver', 'constructor', 'podium',
       'driver_points_after_race', 'driver_points', 'driver_wins',
       'driver_standings_pos', 'constructor_points_after_race',
       'constructor_points', 'constructor_wins','starting_grid', 'driver_points_from_race','constructor_points_from_race','driver_points_before_race']]

In [22]:
df = data[['season', 'round','driver',
       'driver_points_after_race', 'driver_points',
'starting_grid', 'driver_points_from_race', 'driver_points_before_race']]

In [23]:
df.query('driver_points_from_race > 26')

,season,round,driver,driver_points_after_race,driver_points,starting_grid,driver_points_from_race,driver_points_before_race
3072,2021,21,lewis_hamilton,369.5,343,1,26.5,343.5
3092,2021,22,max_verstappen,395.5,369,1,26.5,369.5

In [24]:
df.query('driver == "lewis_hamilton" & season == 2014 & round in [17,18,19]')

,season,round,driver,driver_points_after_race,driver_points,starting_grid,driver_points_from_race,driver_points_before_race
339,2014,17,lewis_hamilton,316.0,291,2,25.0,291.0
357,2014,18,lewis_hamilton,334.0,316,2,18.0,316.0

In [25]:
grouped_podiums = data.groupby('podium').agg({
    'driver_points_last_3_races': 'mean',
    'starting_grid': 'mean',
    'qualifying_pos': 'mean',
    'driver_points_per_race': 'mean',
    'constructor_points_per_race': 'mean'
})
grouped_podiums

,driver_points_last_3_races,starting_grid,qualifying_pos,driver_points_per_race,constructor_points_per_race
podium,,,,,
1,43.760000,2.171429,2.108571,13.647943,25.420914
2,36.026012,2.959538,3.000000,11.592139,22.557630
3,28.531792,4.445087,4.341040,8.949653,18.226069
4,22.329480,5.780347,5.225434,7.442948,15.174451
5,21.891429,7.234286,6.857143,6.706914,13.806400
6,13.311429,7.851429,7.834286,4.346857,8.763086
7,11.142442,8.639535,8.808140,3.673721,7.116860
8,10.389535,10.284884,10.331395,3.301860,6.656977
9,8.184971,10.630058,10.710983,2.637746,5.444277
10,6.894737,11.783626,11.719298,2.184327,4.411170
11,4.639535,12.686047,12.779070,1.609070,3.578372
12,5.203593,13.808383,13.676647,1.555509,3.581856
13,4.694118,13.505882,13.641176,1.528529,3.252118
14,4.355422,14.620482,14.668675,1.316627,2.794458
15,4.089286,15.071429,15.375000,1.356607,2.930179
16,3.467836,15.011696,15.403509,1.116491,2.388889
17,5.339181,14.269006,14.415205,1.725322,3.528304
18,8.072289,13.680723,13.843373,2.557831,4.752831
19,6.625000,12.767857,13.011905,2.253155,4.680595
20,9.184049,12.116564,12.092025,2.870736,5.714785
21,9.333333,13.750000,13.777778,2.694444,5.276389
22,4.771429,14.285714,14.114286,1.725143,3.502286

In [26]:
data[['season','round','driver_points_before_race', 'driver_points', 'driver_points_after_race']].query('season == 2021 & round == 12')

,season,round,driver_points_before_race,driver_points,driver_points_after_race
2935,2021,12,187.0,187,199.5
2936,2021,12,4.0,4,13.0
2937,2021,12,195.0,195,202.5
2938,2021,12,50.0,50,56.0
2939,2021,12,30.0,30,35.0
2940,2021,12,50.0,50,54.0
2941,2021,12,39.0,39,42.0
2942,2021,12,80.0,80,82.0
2943,2021,12,6.0,6,7.0
2944,2021,12,83.0,83,83.5
2945,2021,12,38.0,38,38.0
2946,2021,12,108.0,108,108.0
2947,2021,12,1.0,1,1.0
2948,2021,12,113.0,113,113.0
2949,2021,12,18.0,18,18.0
2950,2021,12,0.0,0,0.0
2951,2021,12,0.0,0,0.0
2952,2021,12,2.0,2,2.0
2953,2021,12,104.0,104,104.0
2954,2021,12,18.0,18,18.0